# ### Launching a Fly MYSQL instance
# https://fly.io/docs/app-guides/mysql-on-fly/
# fly launch --no-deploy --image mysql:8.0.37
# - set a name; up to 2GB of VM memory 
# fly volumes create mysqldata --size 10
# fly secrets set MYSQL_PASSWORD=password MYSQL_ROOT_PASSWORD=rootpassword
# do the TODO below
# fly deploy -a appname -c fly.mysql.toml

# ### Accessing from outside 
# flyctl proxy 13306:3306 -a appname


# fly.toml app configuration file generated for dumbo-mysql on 2026-01-16T12:47:33-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#


# TODO: update this app name and region 
app = 'dumbo-mysql'
primary_region = 'sjc'

[build]
  image = 'mysql:8.0.37'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048

# The [processes] section is different for 8+, 8.4, and 5.7. Use the one that matches your version.
# Use the following for versions 8 to 8.3:
[processes]
  app = """--datadir /data/mysql \
    --default-authentication-plugin mysql_native_password"""

[mounts]
  source = "mysqldata"
  destination = "/data"

[env]
  MYSQL_DATABASE = "database_name"
  MYSQL_USER = "database_manager"